<% if current_user && current_user.admin? %>
	


<h1>Admins İşlemleri</h1>

<p><%= link_to 'Eğitim Ekle ',new_education_path, class: "btn btn-primary btn-sm"%></p>
<p><%= link_to 'Admin Ata ',admins_admin_assign_path, class: "btn btn-primary btn-sm"%></p>
<p><a class="btn btn-primary btn-sm">Sınav Ekle</a></p>
<p><a class="btn btn-primary btn-sm">Sınav S. Ekle</a></p>
<p><a class="btn btn-primary btn-sm">Sertifika Ekle</a></p>


<%end%>