<div class="container">
  <div class="row">
    <div class="col-md-8">
   <legend>Eğitimler İçin Meslek Ekle </legend> 
    <p>Eğitimler İçin Yeni Meslek Burdan Ekleyebilirsiniz</p>
  
    <div class="col-md-8">
    <div class="form-horizontal">        
     <h2></h2>
     <%= form_for @job  do |f| %>

    <!--  #f.hidden_field :creater_id, value: current_user.id  -->
    
     <div class="form-group">
       <label class="col-lg-3 control-label">Meslek Adı </label> 
       <div class="col-lg-9">
        <%= f.text_field :name ,class: "form-control" %> 
      </div>
    </div>

   <div class="form-group">
    <div class="col-md-3"></div>
      <div class="col-md-9"><%= f.submit 'Mesleği Kaydet' ,class: "btn btn-primary"%></div>
   </div>
    <% end %>
  </div>
 </div>
 </div>
</div>
</div>
