<div class="container home">
 
<div class="div">
  <span class="home-text">

    Makine Mühendisleri Odası Eğitim Portalına hoşgeldiniz. Bu portal üzerinde profilinizi oluşturabilir, meslek içi eğitimlere katılabilir, sınavlara başvurabilir ve onaylı sertifikalar ilemesleğinizde uzmanlaşabilirsiniz.</span>
    <br>
    <br>
    
     <p><a class="btn btn-primary btn-lg">Başlayalım!</a></p>
</div>
<div class="div">
  <img class="home-image" src="assets/miem-home.png">
</div>  
</div>


 <div class="container">
  <h2><span>Son Eklenen Eğitimler</span></h2>
  <div class="row education">
</div>
  
  <table class="table table-striped  ">
  <thead>
    <tr>
      
      <th>Eğitim</th>
      <th>Şube</th>
      <th>Tarih</th>
      <th>Süre</th>
      <th>Kontenjan</th>
       <th>Kayıt</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      
      <td>Enerji kimlik Belgesi Uzmanı</td>
      <td>Kayseri</td>
      <td>25.04.2016</td>
      <td>2 gün</td>
      <td>25</td>
      <td><%= link_to 'Başvur'%></td>
    </tr>
     <tr>
      
      <td>Yangın Tesisatı Mühendis Yetkilendirme Kursu</td>
      <td>Ankara</td>
      <td>12.06.2016</td>
      <td>3 gün</td>
      <td>30</td>
      <td><input id="accept" name="accept" type="checkbox" value="1" /></td>
    </tr>
   
  </tbody>

</table> 

<ul class="pagination pagination-sm">
  <li class="disabled"><a href="#">&laquo;</a></li>
  <li class="active"><a href="#">1</a></li>
  <li><a href="#">2</a></li>
  <li><a href="#">3</a></li>
  <li><a href="#">4</a></li>
  <li><a href="#">5</a></li>
  <li><a href="#">&raquo;</a></li>
</ul>
</div> 
