.mmo-logo{
	height:60px;
	width:60px;
	margin:0;


}
.border{border:1px solid red;
 padding:0;
}

.avatar{height:40px;
width:40px;
margin-top:15px;

}
.home-image{ 
   width:500px;
   height:300px;}

.div{
width:48%;
height:300px;
	 float:left; 
	 
	 padding:10px; margin:10px; 

}
.home-text{
      padding:5px;
	
	 font-family: "Arial Verdana", Times, serif;
	 font-size: 25px;
	 color:#282828;
}
.education{
 height:100px;
}

